*{
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.screen{
    height: 100vh;
    position: relative;
    display: block;
    width: 100%;
}

.side-bar{
  position: relative;
  background: #526FE4;
  width: 15%;
  height: 100vh;
  display: inline-block;
  /* overflow-y: hidden; */
}

.main{
  display: inline-block;
  background-color: #f1f5fa;
  width: 85%;
  height: inherit;
  position: absolute;
  background-color: #F1F5FA;
}

.calculator{
  background-color: #fff;
  padding: 10px;
  margin: 20px;
  position: relative;
}

.container{
  position: relative;
}

.inputArea{
  width: 50%;
  border: 1px solid #EAEBED;
  margin: 10px;
  display: inline-block;
}


.graphArea{
  position: absolute;
  width: 50%;
  display: inline-block;
  border: 1px solid #EAEBED;
  margin: 10px;
  padding: 20px;
}


.info{
  font-weight: 400;
  margin: 10px;
}

.back{
  font-weight: 400;
  margin: 10px;
}


.totalamount{
  color: #506EE4;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
}

.potentialamount{
  color: #FF5F1B;
  font-weight: bold;
  font-family: sans-serif;

}
.delay{
  color:#06A473;
  font-weight: bold;
  font-family: sans-serif;
}

.bar{
  background-color:#5E73EB;
}

.graph-text{
  align-items: center;
  color: #626161;
  line-height: 1.5;
}

.bar-graph{
  margin: 20px;
}

.slider-area{
  margin: 40px 0px 40px 30px;
}


.grid{
  position: relative;
}


.grid-item2{
  position: absolute;
  right: 0;
}


.heading{
  font-weight: 300;
  margin-left: 10px;
}

.err-field{
  display: none;
  color: white;
  background-color: #DF2E38;
  padding: 3px;
  font-size: 14px;
  margin: 2px 0px;
  
}


/* Error Page */

.errorpage{
  position: absolute;
  width: 46%;
  height: 96.5%;
  display: inline-block;
  border: 1px solid #EAEBED;
  margin: 10px;
  padding: 15px;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
  /* background-color: #DF2E38; */
}

.errorpage-h1{
  color: #DF2E38;
  margin: 200px 0px 0px 180px ;
}

.errorpage-h2{
  display: block;
  color: #DF2E38;
  /* background-color: #DF2E38; */
  font-size: 20px;
  justify-content: center;
  margin: 0px 0px 0px 118px;
}



/* 

#notfound {
  position: relative;
  height: 100vh;
}
/* 
#errorpage .errorpage {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.errorpage {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
} */

/* .errorpage .errorpage-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
} */
/* 
.errorpage-404-h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  align-items: center;
  left:50%;
  top:50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.errorpage-404-h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.errorpage a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #ff6300;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ff6300;
  background: #211b19;
} */


